body {
  background-color: #0d1f11 !important;
}

:root {
  --white: white;
  --serviceicon: #2fb574;
  --featureblock1: #093015;
  --featureblock2: #e3fff2;
  --font-poppins: "Poppins";
  --font-DMSans: "DM Sans";
  --font-Montserrat: "Montserrat";
  --font-DMSans: "DM Sans";
  --font-Roboto: "Roboto";
  --font-Rubik: "Rubik";
}

.mainhero {
  padding-bottom: 30px;

  .herosection {
    width: 100%;
    margin-top: 90px;
    align-content: center;
    display: block;
    justify-items: center;
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
  }
  h1 {
    font-family: var(--font-poppins);
    font-size: 60px;
    font-weight: bold;
    color: var(--white);
    width: 657px;
    height: 148px;
  }
  p {
    font-family: var(--font-poppins);
    font-size: 18px;
    color: var(--white);
    width: 870px;
    height: 60px;
    margin-top: 25px;
  }
  .herobtn button {
    font-family: var(--font-poppins);
    font-size: 20px;
    background-color: #2fb574;
    color: white;
    margin-right: 30px;
    width: 171px;
    height: 60px;
  }

  .heroimage {
    margin-top: 30px;
    align-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    .heroimagerow {
      margin-top: 20px;
    }
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .mainhero {
    .herosection {
      padding: 0px !important;
      h1 {
        font-family: var(--font-poppins);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 100%;
      }
      p {
        font-family: var(--font-poppins);
        font-size: 12px;
        width: 100%;
        height: 100%;
      }
      .herobtn {
        display: inline-block;
        button {
          margin-top: 20px;
          font-family: var(--font-poppins);
          font-size: 12px;
          background-color: #2fb574;
          color: white;
          width: 122px;
          height: 36px;
          margin-right: 0px;
        }
        img {
          width: 61%;
          margin-top: 13px;
        }
      }
    }
  }
  .heroimagerow {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    .heroimagerow1 {
      height: 90% !important;
    }
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainhero {
    .herosection {
      padding: 0px !important;
      h1 {
        font-family: var(--font-poppins);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 100%;
      }
      p {
        font-family: var(--font-poppins);
        font-size: 12px;
        width: 100%;
        height: 100%;
      }
      .herobtn {
        display: inline-block;
        button {
          margin-top: 20px;
          font-family: var(--font-poppins);
          font-size: 12px;
          background-color: #2fb574;
          color: white;
          width: 122px;
          height: 36px;
          margin-right: 0px;
        }
        img {
          width: 61%;
          margin-top: 13px;
        }
      }
    }
  }
  .heroimagerow {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 0px !important;
    .heroimagerow1 {
      height: 90% !important;
    }
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    gap: 30px;
  }
}

// services scss

.service {
  position: relative;
  align-content: center;
  padding-top: 60px;
  .serviceimageright {
    right: 0%;
    height: 407px;
  }
  .serviceimage {
    position: absolute;
  }
  .servicecontent {
    justify-items: center;
    width: 40%;
    justify-self: center;
    text-align: center;
    img {
      position: absolute;
      width: 20%;
      right: -85px;
      top: 12px;
    }
    h1 {
      font-family: var(--font-DMSans);
      font-size: 48px;
      font-weight: bold;
      color: var(--white);
      width: 471px;
      height: 134px;
    }
    p {
      color: var(--white);
      width: 471px;
      height: 53.66px;
    }
  }

  .servicecard {
    margin-top: 60px;
  }
  .card {
    background-color: transparent;
    border: 0px !important;
    color: white;
    .card-body {
      width: 296px;
      height: 244px;
      h1 {
        font-family: var(--font-DMSans);
        font-size: 32px;
        font-weight: medium;
        line-height: 48px;
      }
      p {
        font-family: var(--font-DMSans);
        font-size: 16px;
        line-height: 27px;
      }
      img {
        background-color: var(--serviceicon);
        padding: 7px;
        border-radius: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .service {
    .serviceimageleft {
      width: 30% !important;
    }
    .serviceimageright {
      height: 179px !important;
    }

    .serviceleftimage {
      img {
        display: none;
      }
    }
    .servicecontent {
      padding-top: 60px;
      width: 100%;
      h1 {
        font-family: var(--font-DMSans);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 100%;
      }
      p {
        font-size: 12px;
        width: 100%;
        height: 100%;
      }
      img {
        display: none;
      }
    }
    .serviceline {
      img {
        width: 100%;
      }
    }
    .servicecard {
      margin-top: 0px;
      text-align: center;
      justify-self: center;
      .col-12 {
        width: 100% !important;
      }
      .card {
        justify-self: center;
        .card-body {
          max-width: 100%;
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
          img {
            width: 21%;
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .service {
    .serviceleftimage {
      img {
        position: absolute;
        top: 30px;
        left: 0px;
      }
    }
    .servicecontent {
      img {
        position: absolute;
        width: 20%;
        right: -6px;
        top: 12px;
      }
    }
    .servicecard {
      .col-12 {
        width: 45%;
      }
    }
  }
}

// shouldus scss

.shoulduse {
  padding-top: 60px;
  justify-items: center;
  align-content: center;
  .shouldusecontent {
    text-align: center;
    justify-items: center;
    h1 {
      font-family: var(--font-DMSans);
      font-size: 48px;
      font-weight: bold;
      width: 825px;
      height: 125px;
      color: var(--white);
    }
    p {
      font-family: var(--font-DMSans);
      font-size: 16px;
      width: 608px;
      height: 53px;
      color: var(--white);
    }
    img {
      width: 100%;
    }
  }
  .shouldusebox {
    color: var(--white);
    h1 {
      font-family: var(--font-poppins);
      font-size: 30px;
      font-weight: bold;
    }
    p {
      font-family: var(--font-poppins);
      font-size: 35px;
      font-weight: lighter;
      line-height: 45px;
      width: 420px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .shoulduse {
    width: 100% !important;
    .shouldusecontent {
      width: 100% !important;
      h1 {
        font-family: var(--font-DMSans);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 100%;
      }
      p {
        font-family: var(--font-DMSans);
        font-size: 12px;
        width: 100%;
        height: 100%;
      }
    }
    .shouldusecontentimg {
      img {
        max-width: 100%;
      }
    }
    .shouldusebox {
      width: 100%;
      flex-direction: column !important;
      h1 {
        font-family: var(--font-poppins);
        font-size: 20px;
        width: 100%;
        height: 100%;
      }
      p {
        font-family: var(--font-poppins);
        font-size: 16px;
        font-weight: lighter;
        line-height: 28px;
        width: 100%;
      }
      .hline {
        display: none;
      }
      .shouldusebox1 {
        padding: 0px !important;
        text-align: center;
        margin-top: 0px !important;
      }
      .shouldusebox1buttom {
        padding: 0px !important;
        text-align: center;
      }
      .shouldusebox2 {
        padding: 0px !important;
        text-align: center;
        margin-top: 0px !important;
      }
      .shouldusebox2bottom {
        padding: 0px !important;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .shoulduse {
    width: 100% !important;
    .shouldusecontent {
      width: 100% !important;
      h1 {
        width: 100%;
      }
    }
    .shouldusecontentimg {
      img {
        max-width: 100%;
      }
    }
    .shouldusebox {
      width: 50% !important;
      flex-direction: column !important;
      h1 {
        font-family: var(--font-poppins);
        font-size: 20px;
        width: 100%;
        height: 100%;
      }
      p {
        font-family: var(--font-poppins);
        font-size: 16px;
        font-weight: lighter;
        line-height: 52px;
        width: 100%;
      }
      .hline {
        display: none;
      }
      .shouldusebox1 {
        padding: 0px !important;
        text-align: center;
        margin-top: 0px !important;
        p {
          line-height: 29px;
        }
      }
      .shoulduseline {
        display: none;
      }
      .shouldusebox1buttom {
        padding: 0px !important;
        text-align: center;
        margin-top: 73px;
        p {
          line-height: 29px;
        }
      }
      .shouldusebox2 {
        padding: 0px !important;
        text-align: center;
        margin-top: 0px !important;
        p {
          line-height: 29px;
        }
      }
      .shouldusebox2bottom {
        padding: 0px !important;
        text-align: center;
        margin-top: 73px;
        p {
          line-height: 29px;
        }
      }
    }
  }
}

// Feature scss

.featurebgcolor {
  background-image: url("../public/Assets/Rectangle.png");
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 167px;
  .featurecontent {
    text-align: center;
    justify-items: center;
    h1 {
      font-family: var(--font-DMSans);
      font-size: 48px;
      font-weight: bold;
      width: 712px;
      height: 64px;
      color: var(--white);
    }
    p {
      font-family: var(--font-DMSans);
      font-size: 16px;
      width: 608px;
      height: 53px;
      color: var(--white);
    }
  }
  .featureblock1 {
    align-items: center;
    background-color: #093015;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    .leftside {
      margin-left: 60px;
      width: 415px;
      h1 {
        margin-top: 5px;
        font-family: var(--font-poppins);
        font-size: 40px;
        font-weight: var(--font-weight-semibold);
        line-height: 55.5px;
        width: 394px;
        height: 99px;
        color: var(--white);
      }
      p {
        font-family: var(--font-poppins);
        font-size: 22px;
        width: 431px;
        height: 107px;
        line-height: 36.5px;
        color: var(--white);
      }
    }
    .rightside {
      margin-left: 32px;
      background-color: #163d2a;
      align-self: center;
      height: 424px;
      width: 278px;
      border-radius: 10px;
      box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
      margin-right: 10px;
      align-content: center;
      padding: 30px;
    }
  }
  .featureblock2 {
    background-color: #163d2a;
    border-radius: 30px;
    align-items: center;
    padding-top: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    .block2left img {
      width: 80%;
    }
    .block2right {
      width: 45%;
      .block2rightimg {
        width: 15%;
      }
      h1 {
        font-family: var(--font-DMSans);
        font-size: 48px;
        line-height: 64px;
        color: var(--white);
      }
      p {
        font-family: var(--font-poppins);
        font-size: 24px;
        width: 449px;
        height: 107px;
        color: var(--white);
      }
    }
  }
  .featureblock3 {
    background-color: var(--featureblock1);
    border-radius: 30px;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    .block3left {
      padding: 30px;
      h1 {
        font-family: var(--font-poppins);
        font-size: 42px;
        width: 552px;
        line-height: 63px;
        color: var(--white);
      }
      p {
        font-family: var(--font-poppins);
        font-size: 18px;
        width: 410px;
        line-height: 36px;
        color: var(--white);
      }
    }
    .block3right {
      padding-top: 60px;
      img {
        width: 100%;
      }
    }
  }

  .featureblock4 {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;

    .block4left {
      flex: 1;
      min-width: 300px;
      position: relative;

      span {
        font-family: var(--font-Roboto);
        font-size: 20px;
        color: #ffe5e5;
      }
      h1 {
        font-family: var(--font-poppins);
        font-size: 42px;
        color: var(--white);
      }

      h3 {
        font-family: var(--font-Rubik);
        font-size: 32px;
        color: var(--white);
      }

      p {
        font-family: var(--font-Roboto);
        font-size: 18px;
      }

      .block4-main-img {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
      }

      .block4-text {
        margin-top: 1rem;
        h3 {
          font-family: var(--font-Rubik);
          font-size: 32px;
          color: var(--white);
        }

        p {
          font-family: var(--font-Roboto);
          font-size: 18px;
          color: var(--white);
        }
      }

      .border-box {
        border-top: 2px solid white;
        padding: 20px 0;

        .questionlist {
          width: 100%;
          .accordion {
            width: 100%;
            .accordion-item {
              width: 100%;
              background: transparent !important;
              border: none;
              h2 {
                font-family: var(--font-poppins);
                font-size: 28px;
              }
            }
            .accordion-header {
              .accordion-button {
                width: 100%;
                background: transparent !important;
                color: white;
                box-shadow: none !important;
                border-bottom: 1px solid white;
                padding-left: 0px;
                padding-bottom: 15px !important;
              }
              .accordion-button:focus {
                box-shadow: none !important;
              }
              .accordion-button:not(.collapsed) {
                color: var(--white) !important;
                font-weight: bold;
              }
              // .accordion-button:not(.collapsed)::after {
              //   background-image: url("/Image/Frame\ 48033.png") !important;
              // }
              .accordion-button::after {
                background-image: url("../public/Assets/Path\ 2.png");
              }
            }
            .accordion-collapse {
              .accordion-body {
                font-family: var(--font-poppins);
                font-size: 18px;
                background: transparent !important;
                color: white;
                text-align: left !important;
                font-weight: lighter;
              }
            }
          }
        }
      }

      .block4leftimage {
        max-width: 100%;
        height: auto;
        display: block;
        position: absolute;
        bottom: -20px;
        left: 96%;
        z-index: -1;
        top: 89%;
      }
    }

    .block4right {
      flex: 1;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      position: relative;

      .block4image1 {
        max-width: 100%;
        height: auto;
        display: block;
        position: relative;
      }

      .block4image2 {
        max-width: 90%;
        height: auto;
        display: block;
        position: absolute;
        top: 74%;
        left: 20%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media (max-width: 1024px) {
  .featureblock1 {
    .leftside {
      width: 100%;
      margin-left: 0px;
      h1 {
        width: 100%;
        height: 100%;
      }
      p {
        width: 100%;
        height: 100%;
      }
    }
    .block1right {
      width: 100%;
      height: 100% !important;
      .rightside {
        height: 100px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 0px;
        margin: 0px;
      }
      .rightsideimage {
        img {
          width: 100%;
        }
      }
    }
  }
  .featureblock4 {
    flex-direction: column;
    gap: 2rem;
  }

  .block4left,
  .block4right {
    flex: none;
    width: 100%;
    text-align: center;
  }
  .block4image2 {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .featurebgcolor {
    padding-bottom: 0px;
    padding-top: 107px;
    .featurecontent {
      h1 {
        font-family: var(--font-DMSans);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        height: 64px;
        color: var(--white);
      }
      p {
        font-family: var(--font-DMSans);
        font-size: 12px;
        width: 100%;
        height: 53px;
        color: var(--white);
      }
      img {
        width: 100%;
      }
    }
    .featureblock1 {
      flex-direction: column;
      .leftside {
        margin-left: 60px;
        width: 100%;
        padding: 30px;

        h1 {
          margin-top: 5px;
          font-family: var(--font-poppins);
          font-size: 20px;
          font-weight: var(--font-weight-semibold);
          line-height: 55.5px;
          color: var(--white);
        }
        p {
          font-family: var(--font-poppins);
          font-size: 12px;
          width: 431px;
          height: 107px;
          line-height: 27.5px;
          color: var(--white);
        }
      }
      .block1right {
        flex-direction: column;
        .rightside {
          margin: 0px;
        }
      }
    }
    .featureblock2 {
      flex-direction: column;
      padding: 30px;
      .block2right {
        h1 {
          font-family: var(--font-DMSans);
          font-size: 20px !important;
          line-height: 64px;
          color: var(--white);
        }
        p {
          font-family: var(--font-poppins);
          font-size: 12px !important;
          color: var(--white);
        }
        .block2rightimg {
          width: 20% !important;
        }
      }
    }
    .featureblock3 {
      flex-direction: column;
      .block3left {
        h1 {
          font-family: var(--font-poppins);
          font-size: 20px !important;
          width: 552px;
          line-height: 24px;
          color: var(--white);
        }
        p {
          font-family: var(--font-poppins);
          font-size: 12px !important;
          width: 410px;
          line-height: 24px;
          color: var(--white);
        }
      }
    }
    .featureblock4 {
      justify-self: center;
      padding: 0px;
      .block4left {
        span {
          font-size: 12px;
        }
        h1 {
          font-family: var(--font-poppins);
          font-size: 20px !important;
        }
        .block4-main-img {
          width: 100% !important;
        }
        .block4-text {
          h3 {
            font-family: var(--font-Rubik);
            font-size: 20px;
          }
          p {
            font-family: var(--font-Roboto);
            font-size: 12px;
          }
        }
        .border-box {
          width: 100% !important;
          .accordion-button {
            padding-top: 10px;
          }
          .accordion-item:last-of-type
            > .accordion-header
            .accordion-button.collapsed {
            border: none !important;
          }
        }
      }
      .block4right {
        .block4image2 {
          left: 56px !important;
          height: 100% !important;
          top: 59% !important;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
  .featurebgcolor {
    padding-bottom: 68px;
    padding-top: 107px;
    .featurecontent {
      img {
        width: 100%;
      }
    }
    .featureblock1 {
      .leftside {
        margin-left: 60px;
        width: 100%;
        padding: 30px;
        h1 {
          margin-top: 5px;
          font-family: var(--font-poppins);
          font-size: 20px;
          font-weight: var(--font-weight-semibold);
          line-height: 55.5px;
          color: var(--white);
          height: 100% !important;
        }
        p {
          font-family: var(--font-poppins);
          font-size: 12px;
          width: 431px;
          height: 107px;
          line-height: 27.5px;
          color: var(--white);
        }
      }
      .block1right {
        .rightside {
          width: 120%;
          height: 300px;
          margin-right: 10px;
          img {
            width: 100%;
          }
        }
        .rightsideimage {
          text-align: center;
          margin-top: 10px;
          img {
            width: 100%;
          }
        }
      }
      .rightside {
        margin: 0px;
      }
    }
    .featureblock2 {
      .block2right {
        width: 100%;

        .block2rightimg {
          width: 20% !important;
        }
      }
    }
    .featureblock4 {
      justify-self: center;
      padding: 0px;
      width: 100%;
      .block4left {
        img {
          width: 30%;
          justify-self: center;
        }
        .block4leftimage {
          display: none;
        }
        .block4-text {
          h3 {
            font-family: var(--font-Rubik);
            font-size: 30px;
          }
          p {
            font-family: var(--font-Roboto);
            font-size: 12px;
          }
        }
        .border-box {
          width: 70%;
          justify-self: center;
          .accordion-button {
            padding-top: 10px;
          }
          .accordion-item:last-of-type
            > .accordion-header
            .accordion-button.collapsed {
            border: none !important;
          }
        }
      }
      .block4right {
        width: 60%;
        .block4image2 {
          max-width: 90%;
          height: auto;
          display: block;
          position: absolute;
          top: 58%;
          left: 22%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .featureblock4 {
    padding: 1rem;
  }

  .block4image2 {
    max-width: 80%;
  }
}

@media (max-width: 787px) {
  .featurebgcolor {
    .featurecontent {
      width: 100%;
      h1 {
        width: 100%;
        height: 100%;
      }
      p {
        height: 100%;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .featureblock1 {
      .leftside {
        width: 100%;
        margin-left: 0px;
        h1 {
          width: 100%;
          height: 100%;
        }
        p {
          width: 100%;
          height: 100%;
        }
      }
      .block1right {
        width: 100%;
        .rightside {
          margin-bottom: 30px;
          margin-top: 20px;
          padding: 0px;
        }
        .rightsideimage {
          margin-top: 39px;
          // margin-left: 30px;
          img {
            width: 100%;
          }
        }
      }
    }
    .featureblock2 {
      .block2right {
        width: 100%;
        h1 {
          width: 100%;
          height: 100%;
          font-size: 30px;
        }
        p {
          width: 100%;
          height: 100%;
          font-size: 15px;
        }
        .block2rightimg {
          width: 40%;
        }
      }
    }
    .featureblock3 {
      padding: 30px;
      .block3left {
        padding: 0px;
        h1 {
          width: 100%;
          height: 100%;
          font-size: 30px;
        }
        p {
          width: 100%;
          height: 100%;
          font-size: 15px;
        }
      }
      .block3right {
        flex-direction: column;
        padding-top: 0px;
        img {
          width: 100%;
        }
      }
    }
    .featureblock4 {
      flex-direction: column;
      .block4left {
        h3 {
          color: var(--white);
        }
        h1 {
          font-size: 30px;
        }
        img {
          width: 100%;
        }
        .block4leftimage {
          display: none;
        }
        .block4-main-img {
          width: 50%;
        }
        .block4-text {
          h3 {
            font-size: 20px;
          }
        }
        .border-box {
          width: 70%;
          justify-self: center;
          .questionlist {
            .accordion {
              .accordion-collapse {
                .accordion-body {
                  font-size: 12px;
                }
              }
            }
          }
          .accordion-button {
            padding-top: 10px;
          }
          .accordion-item:last-of-type
            > .accordion-header
            .accordion-button.collapsed {
            border: none !important;
            font-size: 18px;
          }
        }
      }

      .block4right {
        margin-left: 0px;
        .block4image2 {
          position: absolute;
          left: 77px;
          height: 100% !important;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .featurebgcolor {
    .featureblock3 {
      .block3right {
        img {
          width: 100%;
        }
      }
    }
    .featureblock4 {
      .block4left {
        .block4leftimage {
          position: relative;
          left: 567px;
          bottom: 171px;
          width: 33%;
          height: 20%;
        }
      }
      .block4right {
        .block4image1 {
          width: 100%;
        }
        .block4image2 {
          position: absolute;
          right: 222px !important;
          margin-top: 0px !important;
        }
      }
    }
  }
  .pleft2 {
    right: 134px !important;
  }
}

// Asked Questions SCSS

.question {
  justify-items: center;
  margin-top: 60px;
  text-align: center;
  .questioncontent {
    h1 {
      font-family: var(--font-poppins);
      font-size: 48px;
      color: var(--white);
      width: 565px;
    }
  }
  .questionlist {
    width: 100%;
    .accordion {
      width: 100%;
      .accordion-item {
        width: 100%;
        background: transparent !important;
        border: none;
        h2 {
          font-family: var(--font-poppins);
          font-size: 28px;
        }
      }
      .accordion-header {
        .accordion-button {
          width: 100%;
          background: transparent !important;
          color: white;
          box-shadow: none !important;
          border-bottom: 1px solid white;
        }
        .accordion-button:focus {
          box-shadow: none !important;
        }
        .accordion-button:not(.collapsed) {
          color: var(--white) !important;
          font-weight: bold;
        }
        .accordion-button:not(.collapsed)::after {
          background-image: url("../public/Assets/Frame\ 48033.png") !important;
        }
        .accordion-button::after {
          background-image: url("../public/Assets/Frame\ 48032.png");
        }
      }
      .accordion-collapse {
        .accordion-body {
          font-family: var(--font-poppins);
          font-size: 18px;
          background: transparent !important;
          color: white;
          text-align: left !important;
          font-weight: lighter;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .question {
    padding-top: 0px;
    .questioncontent {
      h1 {
        font-family: var(--font-poppins);
        font-size: 20px;
        color: var(--white);
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    .questionlist {
      .accordion {
        width: 100% !important;
      }
      .accordion-collapse {
        .accordion-body {
          font-size: 12px !important;
        }
      }
      .accordion-button {
        font-size: 14px !important;
      }
    }
  }
  .accordion-button::after {
    margin-left: 3px;
  }
}

// Learn More SCSS

.learnmorebgimage {
  background-image: url("../public/Assets/background-08.png");
  margin-top: 60px;
  .learnmore {
    padding: 35px;
    .lernmoreright {
      margin-left: 109px;
      align-content: center;
      h1 {
        font-family: var(--font-poppins);
        font-size: 42px;
        width: 100%;
        color: var(--white);
      }
      span {
        width: 100%;
        height: 100%;
        color: var(--white);
      }
      button {
        background-color: #79efbc;
        color: black;
        width: 176px;
        height: 50px;
        border-radius: 30px;
        font-family: var(--font-poppins);
        font-size: 18px;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .learnmorebgimage {
    .learnmore {
      .learnmorecontent {
        flex-direction: column;
        img {
          width: 100%;
        }
        .lernmoreright {
          margin-left: 0px;
          align-self: center;
          h1 {
            font-family: var(--font-poppins);
            font-size: 16px;
            width: 100%;
          }
          .learnmoreright2 {
            span {
              font-size: 12px !important;
            }
          }

          img {
            width: 54px;
            margin-top: 30px;
          }
          button {
            background-color: #79efbc;
            color: black;
            width: 127px;
            height: 34px;
            border-radius: 30px;
            font-family: var(--font-poppins);
            font-size: 12px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .learnmorebgimage {
    .learnmore {
      padding: 10px;
      .learnmorecontent {
        .lernmoreleft {
          align-self: center;
          img {
            width: 100%;
          }
        }

        .lernmoreright {
          margin-left: 106px;
          align-self: center;
          h1 {
            font-family: var(--font-poppins);
            font-size: 20px !important;
            width: 100%;
          }
          span {
            font-size: 12px;
          }
          img {
            width: 100px;
            margin-top: 30px;
          }
          button {
            background-color: #79efbc;
            color: black;
            width: 127px;
            height: 34px;
            border-radius: 30px;
            font-family: var(--font-poppins);
            font-size: 12px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

// Trial SCSS

.trial {
  background-image: url("../public/Assets/trialbg.png");
  background-color: #086436;
  border-radius: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  .trialbgcolor {
    background-image: url("../public/Assets/trial\ Bg\ Shape.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .trialleft {
      width: 44%;
      span {
        color: var(--white);
      }
      h1 {
        color: var(--white);
      }
    }
    .trialright {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      input {
        width: 524px;
        max-width: 600px;
        border-radius: 50px;
        padding: 10px;
        height: 52px;
        position: relative;
      }

      button {
        background-color: #163d2a;
        border-radius: 50px;
        color: var(--white);
        font-weight: bold;
        padding: 10px 20px;
        position: relative;
        left: 361px;
        width: 155px;
        height: 45px;
        margin-top: 4px;
      }
      span {
        color: var(--white);
        font-family: var(--font-Roboto);
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .trial {
    .trialbgcolor {
      padding: 21px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .trialleft {
        width: 100%;

        span {
          font-size: 12px;
        }

        h1 {
          font-size: 20px;
        }
      }

      .trialright {
        margin-left: 0 !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        input {
          border-radius: 100px;
          padding: 10px;
          width: 80%;
          max-width: 320px;
          height: 38px;
        }

        button {
          font-size: 12px;
          width: 100px;
          height: 37px;
          background-color: #163d2a;
          margin-top: 10px;
          border-radius: 100px;
          color: var(--white);
          position: relative;
          left: 153%;
          margin-top: 1px;
        }
      }
    }
  }
}

@media screen and (min-width: 768) and (max-width: 1024px) {
  .trial {
    .trialbgcolor {
      .trialright {
        input {
          border-radius: 100px;
          padding: 10px;
          width: 44vh;
        }
        button {
          background-color: #163d2a;
          top: 5px;
          left: 161px;
          border-radius: 100px;
          color: var(--white);
        }
      }
    }
  }
}

// Payment scss

.paymentsection {
  background-image: linear-gradient(to right, #163d2a, #2fb873);
  padding: 50px 0;
  .payment {
    background-image: url("../public/Assets/trialbg.png");
    background-size: cover;
    background-position: center;
  }
  .paymentbgcolor {
    background-image: url("../public/Assets/Bg\ Shape.png");
    background-position: right;
    background-repeat: no-repeat;
    padding: 20px;
    gap: 0px !important;
  }
  /* Left Section */
  .paymentleft {
    text-align: center;
    position: relative;
    .pleft1 {
      position: absolute;
      border-radius: 12px;
      max-width: 90%;
    }
    .pleft2 {
      position: relative;
      max-width: 80%;
      right: 180px;
      height: 340px;
    }
  }
  /* Right Section */
  .paymentright {
    margin-left: 50px;
    h1 {
      color: var(--white);
      font-family: var(--font-poppins);
      font-size: 48px;
    }
    p {
      color: var(--white);
      font-family: var(--font-DMSans);
      font-size: 16px;
    }
    .d-flex {
      img {
        max-width: 130px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .paymentsection {
    .payment {
      .paymentbgcolor {
        padding: 0px;
        flex-direction: column;
        text-align: center;
        .paymentleft {
          order: 2;
          margin-top: 20px;
          .pleft1 {
            max-width: 70%;
          }
          .pleft2 {
            max-width: 70%;
            right: 63px !important;
            height: 180px;
          }
        }

        .paymentright {
          margin-left: 0;
          text-align: center;
          h1 {
            color: var(--white);
            font-family: var(--font-poppins);
            font-size: 20px;
          }
          p {
            color: var(--white);
            font-family: var(--font-DMSans);
            font-size: 12px;
          }
          .d-flex {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .paymentsection {
    background-image: linear-gradient(to right, #163d2a, #2fb873);
    padding: 50px 0;
    .payment {
      background-image: url("../public/Assets/trialbg.png");
      background-size: cover;
      background-position: center;
    }
    .paymentbgcolor {
      background-image: url("../public/Assets/Bg\ Shape.png");
      background-position: right;
      background-repeat: no-repeat;
      padding: 20px;
    }
    /* Left Section */
    .paymentleft {
      text-align: center;
      position: relative;
      .pleft1 {
        position: absolute;
        border-radius: 12px;
        max-width: 90%;
      }
      .pleft2 {
        position: relative;
        max-width: 77%;
        right: 82px;
        height: 239px;
      }
    }
    /* Right Section */
    .paymentright {
      margin-left: 50px;
      h1 {
        color: var(--white);
        font-family: var(--font-poppins);
        font-size: 20px;
      }
      p {
        color: var(--white);
        font-family: var(--font-DMSans);
        font-size: 12px;
      }
      .d-flex {
        img {
          max-width: 130px;
        }
      }
    }
  }
}
